body {
  font-family: Roboto;
  padding-top: 16px;
  padding-left: 16px;
}

canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10;
  right: 10;
  margin-left: 264px;
  margin-top: 30px;
}

.start-btn {
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
  font-size: 30pt;
  font-family: "Press Start 2p";
}
.start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}
